/* style Logicruse */

.header-index {
    background-image: url('../img/accueil.jpg');
}

.header-activite {
    background-image: url('../img/informations.jpg');
}

.header-contact {
    background-image: url('../img/contact-bg.jpg');
}

.header-informations {
    background-image: url('../img/informations.jpg');
}

.header-inscription {
    background-image: url('../img/Inscription.jpg');
}

.margin-items-inscription{
    margin-top: 20px;
}

.margin-items-inscription-titre{
    margin-top: 40px;
}