/* style Logicruse */

.header-index {
    background-image: url('../img/accueil.jpg');
}

.header-activite {
    background-image: url('../img/informations.jpg');
}

.header-contact {
    background-image: url('../img/contact-bg.jpg');
}

.header-informations {
    background-image: url('../img/informations.jpg');
}

.header-inscription {
    background-image: url('../img/Inscription.jpg');
}

.margin-items-inscription {
    margin-top: 20px;
}

.margin-items-inscription-titre {
    margin-top: 40px;
}

.message-login {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
}

.load-barre {
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.table-user {
    margin: 10px;
}

.btn-compte {
    text-align: center;
}

.titre-commande {
    text-align: center;
}

.table-container {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.maTable {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.btn-tri {
    width: 100%;
    margin: auto;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.mesBtn {
    text-transform: none;
}

.btn-outline-primary {
    background-color: white;
}